<aside class="cgs-sidebar" id="cgsSidebar" role="navigation" aria-label="Consumer documentation navigation">
  <div class="cgs-sidebar-header">
    <h5 onclick="load_page('create_new_project')">
      <i class="fa-solid fa-book-open" aria-hidden="true"></i>
      <span>Think4ever Developer</span>
    </h5>
    <button class="cgs-sidebar-close" id="cgsSidebarClose" aria-label="Close sidebar">
      <i class="fa fa-times"></i>
    </button>
  </div>

  <nav class="cgs-nav-section">
    <ul class="cgs-nav-list">
      <li>
        <a class="cgs-nav-link" onclick="load_dev_page('start_new_project')">
          <i class="fa-solid fa-plus-circle"></i>
          <span>Start a New Project</span>
        </a>
      </li>

      <li>
        <a class="cgs-nav-link" onclick="load_dev_page('structure')">
          <i class="fa-solid fa-sitemap"></i>
          <span>Structure</span>
        </a>
      </li>

      <li>
        <a class="cgs-nav-link" onclick="load_dev_page('issues')">
          <i class="fa-solid fa-bug"></i>
          <span>Issues</span>
        </a>
      </li>

      <li>
        <a class="cgs-nav-link" onclick="load_dev_page('database')">
          <i class="fa-solid fa-database"></i>
          <span>Database</span>
        </a>
      </li>

      <li>
        <a class="cgs-nav-link" onclick="load_dev_page('terminal')">
          <i class="fa-solid fa-terminal"></i>
          <span>Terminal</span>
        </a>
      </li>

      <li>
        <a class="cgs-nav-link" onclick="load_dev_page('public_access')">
          <i class="fa-solid fa-globe"></i>
          <span>Public Access</span>
        </a>
      </li>

    </ul>
  </nav>
</aside>